$hoverColor: rgba($color: rgb(0, 255, 38), $alpha: 1.4);

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 65px;
    width: 100%;
    position: fixed;
    padding: 0 15em;
    z-index: 1;

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .nav-links {
        display: flex;
        list-style: none;
        border-radius: 40%;
        .nav-link {
            a {
                margin: .2rem;
                padding: 1rem .5rem;
            }
            a:hover {
                background: $hoverColor;
                border-radius: 30%;
            }
        }
    }

    .btn {
        border-radius: 20%;
        color: rgb(255, 238, 0);
    }
}