.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    padding: 0 8em;
    z-index: 1;

    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    .nav-links {
        display: flex;
        list-style: none;
        border-radius: 40%;
        .nav-link {

            a {
                margin: .2rem;
                padding: 1rem .5rem;
                
            }
            a:hover {
                background: rgba($color: rgb(194, 22, 22), $alpha: 0.2);
                
            }
        }
    }

    .menu-btn {
        display: none;
    }
}