@mixin flexCenter($direction, $background) {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

nav {

    @include flexCenter(row, green);
    height: 10vh;
    button {
        background: $textColor;
        &:hover {
            background: green
        }
    }
}
