$primaryButton : rgb(85, 218, 245);
$buttonRadial : radial-gradient(circle, rgba(0,212,255,1) 8%, rgba(2,0,36,1) 23%, rgba(9,120,121,1) 23%, rgba(0,212,255,1) 47%, rgba(0,172,213,1) 59%);
$textColor: orange;
$hoverColor: rgba($color: rgb(0, 255, 38), $alpha: 1.4);