@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.hero {
  height: 120vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10vw;
  color: red;
}

.hero h2 {
  margin-top: 140px;
  margin-bottom: 0px;
}

.hero .card {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

.hero .card::before, .hero .card::after {
  content: '';
  position: relative;
  top: 0;
  height: 120%;
  width: 50%;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  width: 100%;
  padding: 0 8em;
  z-index: 1;
}

.main-header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-header .nav-links .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.main-header .nav-links .nav-link a:hover {
  background: rgba(194, 22, 22, 0.2);
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: black;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: black;
  -webkit-transition: background .8s ease;
  transition: background .8s ease;
}

.main-header .menu-icon__line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-header .menu-icon__line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.main-header .menu-btn {
  display: none;
}

.card {
  margin: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card .card-lead {
  font-size: 40px;
}

.card form {
  margin-bottom: 20px;
}

#main-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
}

#product-table {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  width: 80%;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container {
  width: 80%;
  margin: 2rem auto;
}

.container label {
  margin: 1rem 0;
}
/*# sourceMappingURL=main.css.map */